@page "/AboutMe"
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var authorUser = User as Chirp.Web.AuthorUser;
}

<div>
    <h2>Your information stored in our system</h2>

    <ul>
        <strong>Name: </strong> @authorUser.AuthorName
        <br>
        <strong>IDs of followed users: </strong>
        @foreach (var followedAuthor in authorUser.FollowedAuthorIds)
        {
            <li><a href="/@followedAuthor">@followedAuthor</a></li>
        }
    </ul>
        

    <h2>Danger zone</h2>
    <ul>
        <form method="post" asp-page-handler="downloadmyinfo">
            <button type="submit" style="background: gold">Download my information</button>
        </form>
        <form method="post" asp-page-handler="forgetme">
            <button type="submit" style="background: red">Delete my account</button>
        </form>
    </ul>
</div>