@page "/AboutMe"
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var authorUser = User as Chirp.Web.AuthorUser;
}

<div>
    <h2>Your information stored in our system</h2>

    <ul>
        <li><b>Name: </b></li>
        <p>@authorUser.AuthorName</p>
        

        <form method="post" asp-page-handler="forgetme">
            <button type="submit" style="background: red" name=@authorUser.AuthorId>Forget me</button>
        </form>
    </ul>
</div>