@page "/Profile"
@model Chirp.Pages.ProfileModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2>Claims</h2>

    <ul>
        @foreach (System.Security.Claims.Claim claim in User.Claims)
        {
            if (claim.Type.Equals("emails"))
            {
                <li>@claim.Value</li>
            }
        }
    </ul>


    @* <p> EMAIL: @(User.FindFirst(System.Security.Claims.ClaimTypes.Email).Value.ToString())</p> *@
    @* <PersistedClaim ClaimTypeReferenceId="otherMails" /> *@
</div>