@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @* @if (User.Identity?.IsAuthenticated == true) *@
    @if (Model.IsUserAuthenticated())
    {
        <div class="cheepbox">
            <h3>What's on your mind, friend?</h3>
            <form method="post">
                @Html.AntiForgeryToken()
                <input style="float: left" type="text" name="cheepText" maxlength=160>
                <input type="submit" value="Share">
            </form>
            @Model.ModelState.
        </div>
    }


   @Html.DisplayFor(model => model.Cheeps, "CheepsTemplate")
</div>
