@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.AllowCheepShare)
    {
        @await Html.PartialAsync("_CheepSharePartial", Model.CheepShareViewModel)
    }

    @await Html.PartialAsync("_CheepListPartial", Model.CheepsListViewModel)

</div>
