@page "/{author:guid}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if(Model.Author.Name.Equals("[Deleted user]")) {
        <em>This user has been deleted.</em>
    } else {
        <h2> @Model.Author?.Name's Timeline </h2>

        @if (Model.AllowCheepShare)
        {
            @await Html.PartialAsync("_CheepSharePartial")
        }

        @await Html.PartialAsync("_CheepListPartial", Model.CheepsListViewModel)
    }

</div>
