@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    @* var routeName = HttpContext.GetRouteValue("author"); *@
}

<div>
    <h2> @Model.Author!.Name's Timeline </h2>

    @Html.DisplayFor(model => model.cheepsModel, "CheepsTemplate")
</div>
