@page "/{author:guid}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> @Model.Author?.Name's Timeline </h2>

    @if (Model.AllowCheepShare)
    {
        @await Html.PartialAsync("_CheepSharePartial", Model.CheepShareViewModel)
    }

    @await Html.PartialAsync("_CheepListPartial", Model.CheepsListViewModel)

</div>
