@page "/{author:guid}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> @Model.Author?.Name's Timeline </h2>

    @Html.DisplayFor(model => model.CheepsListViewModel, "CheepsTemplate")
</div>
