@model IEnumerable<Chirp.Core.CheepDTO>  

@if (Model.Any())
{
    <ul id="messagelist" class="cheeps">
        @foreach (var cheep in Model)
        {
            <li>
                <p>
                    <strong>
                        <a href="/@cheep.Author.Id">@cheep.Author.Name</a>
                    </strong>
                    @* OR Button to follow? and logic to display unfollow *@
                    <a href="">Follow</a>
                    @cheep.Message
                    <small>&mdash; @cheep.Timestamp</small>
                </p>
            </li>
        }
    </ul>
}
else
{
    <em>There are no cheeps so far.</em>
}