@using System.Security.Principal
@inject IWebHostEnvironment hostEnvironment
@{
    var authorUser = User as Chirp.Web.AuthorUser;
}
<div>

    @if (authorUser != null)
    {
        <div>
            <a href="/@authorUser.AuthorId">my timeline</a>
            <span>|</span>
            <a href="/">public timeline </a>
            <span>|</span>
            <a href="/authors">Authors </a>
            <span>|</span>
            <a href="/Profile"> Profile </a>
            <span>|</span>
            <a href="/AboutMe">About me</a>
            <span>|</span>
            @if (hostEnvironment.IsDevelopment())
            {
                @* link to local development signout *@
                <a class="nav-link text-dark" asp-page="signin" asp-page-handler="signout">Logout [@(authorUser.AuthorName)]</a>
            }
            else
            {
                @* link to azure signout *@
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                    Logout
                    [@(authorUser.AuthorName)]
                </a>
            }
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline </a>
            <span>|</span>
            @if (hostEnvironment.IsDevelopment())
            {
                @* link to local development signin *@
                <a class="nav-link text-dark" asp-page="signin" asp-page-handler="signin">Login</a>
            }
            else
            {
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account"
                    asp-action="SignIn">Register</a>
                <span>|</span>
                @* link to azure signin *@
                <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account"
                    asp-action="SignIn">Login</a>
            }
        </div>
    }

</div>