@using System.Security.Principal

<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <div>
            <a href="/@(User.Identity.Name)">my timeline</a> |
            <a href="/">public timeline </a> |
            @* <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span> *@
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Logout
                [@(User.Identity.Name)]</a> |
            <a href="/Profile"> Profile </a>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline </a> |
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account"
                asp-action="SignIn">Register</a> |
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account"
                asp-action="SignIn">Login</a>

        </div>
    }
</div>